.header{
    background-color: rgb(0, 23, 128);
    color: yellow;
    text-align: center;
    padding-bottom: 10px;
}
.photo1{
    width: 150px;
    padding-right: 470px;
}
.photo2{
    width: 530px;
   
}
.sw3-content,.w3-section{
  display: block;
  padding: 0px 10px;
  
  max-height: 2600px;
  overflow:visible;
 
}

.slide1,.slide2{
    height: 100%;
    display:inline-block;
   
   
}

.mainbody_head{
    text-align: center;
}
.mainbody{
    margin-top: 7px;
}
.mainbodyfirst {
    background-color: rgba(120, 207, 236, 0.932);
    padding: 0px 30px;
    padding-bottom: 1px;
    border-radius: 10px;
}
.headh {
    color:red;
    padding-top: 10px;
    
}
.head1, .head2 ,.head3 ,.head4,.head5,.head6{
    color: rgb(61, 158, 248);
}
.mainbody_second{
    background-color: rgba(255, 255, 255, 0.945);
    
    padding: 7px 30px;
    padding-bottom: 1px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.mainbody_second-first{
    background-color: rgba(120, 207, 236, 0.932);
    padding: 3px 6px;
    border-radius: 10px;
    margin-bottom: 20px;
   width:100%;
}
.mainbody_third{
    padding-left:6px;
}
.mainbody_third_first1,.mainbody_third_first2{
    font-weight: bold;
}
.mainbody_third_first,.mainbody_third_second,.mainbody_third_third{
    color:rgb(206, 38, 38);

}
.mainbody_fourth{
    padding: 3px 6px;
    border-radius: 1px;

}
.mainbody_fourth_first{
    background-color: rgba(120, 207, 236, 0.932);
    padding: 70px ;
    text-align: center;
}

.footer{
    background-color: rgb(0, 23, 128);
    color: yellow;
    text-align: center;
    padding:0.1%;
    

}
.mainbody_third_fourth1{
    color:red;
}
.mainbody_fourth_first1,.mainbody_fourth_first2,.mainbody_fourth_first3,.mainbody_fourth_first4,.mainbody_fourth_first5,.mainbody_fourth_first6,.mainbody_fourth_first7,.mainbody_fourth_first8,.mainbody_fourth_first9{
   color:blue;
}
